Makefile
autom4te.cache/
config.h
config.h.in~
config.log
config.status
libtool
src/.deps/
src/.libs/
src/Makefile
src/libgstqroverlay.la
src/libgstqroverlay_la-gstqroverlay.lo
stamp-h1
tests/.deps/
tests/Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
src/Makefile.in
test-driver
tests/Makefile.in
